.footer {
    text-align: start;
    background: #FFFFFF;
    font-family: Helvetica Neue;
    font-size: 18px;
    font-weight: 200;
    line-height: 22px;
    letter-spacing: 1.9199999570846558px;
    text-align: left;
    position: absolute;
    bottom: 0;
}